<footer>
    <ul class="nav justify-content-center">
      <li class="nav-item"><a href="#" class="nav-link text-muted">About</a></li>
      <li class="nav-item"><a href="#" class="nav-link text-muted">Contact</a></li>
      <li class="nav-item"><a href="#" class="nav-link text-muted">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link text-muted">Explore</a></li>
    </ul>
    <div class="footer-border"></div> 
    <p class="text-center text-white m-2 p-2">© 2024 Collections, Inc</p>
</footer>
