<!DOCTYPE HTML>
<html>
	<head>
		<title>Collection Managaer</title>
		<!-- Scripts -->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
	</head>
	
	<body>
		<!-- Navbar -->
		<%= render 'components/admin_navbar' %>
	</body>
</html>